@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f2233e;
  /* Primary color */
  --secondary: rgba(36, 36, 36, 0.925);
  /* Secondary color */
  --accent: #574240;
  /* Accent color */
  --neutral: #ffe4df;
  /* Neutral color */
  --background: #000000;
  /* Background color set to black */
  --foreground: #ffffff;
  /* Foreground color set to white */
  --white: #ffffff;
  /* White color */
  --overlay: #00000031;
  /* Overlay color set to black */
  --gray: #222222da;
  --devider: #3b3737;
  --redish: #460a0a;

  @apply bg-background
}

.redish_section {
  @apply bg-gradient-to-b from-redish to-background;
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
  /* Center the container and add responsive padding */
  @apply max-w-screen-2xl;
  /* Set a maximum width for larger screens */
}

.responsive_box {
  @apply flex-col md:flex-row;
}

.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
  background: none !important;
}

.slide-tilt {
  transition: transform 0.3s;
}

.slide-tilt:hover {
  transform: perspective(1000px) rotateY(10deg) rotateX(10deg);
}


.mobile_slide_3d {
  transition: transform 0.5s ease-in-out;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5); 
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--primary) !important;
}

.swiper-slide {
  transition-timing-function: ease-in-out;
}

h1 {
  @apply text-3xl md:text-4xl lg:text-5xl font-bold leading-tight;
}

h2 {
  @apply text-3xl md:text-5xl font-bold leading-tight;
}

h3 {
  @apply text-2xl md:text-3xl lg:text-4xl leading-snug;
}